@{
    ViewData["Title"] = "Trades";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stock Trades</h1>
</div>

<div>
    <table class="table table-striped table-bordered" id="stockTable">
        <thead class="thead-light">
            <tr>
                <th>Stock Name</th>
                <th>Stock Price</th>
                <th>Date</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
        </tbody>

    </table>
</div>

@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

    <script>

        //configure signalr for real time application
        const client = new signalR.HubConnectionBuilder().withUrl('/stockHub').configureLogging(signalR.LogLevel.Error).build();
        var globalStockList = [];
        client.on("StockUpdates", async function (stocks) {
            await pobulateStockTable(stocks);
        });

        client.start();

        //function to populate div table with stock info
        function pobulateStockTable(stockList) {
            if (globalStockList.length == 0) {
                var tableBody = $("#stockTable tbody");
                tableBody.html = '';
                $.each(stockList, function (key, stock) {
                    var tableRow = '<tr id="' + key + '">';
                    tableRow += '<td>' + stock["stockName"] + '</td>';

                    if (stock["stockState"] == true) {
                        tableRow += '<td>' + stock["stockPrice"]["stockPrice"] + ' $ <button class="btn btn-success btn-sm ml-4"><i class="bi bi-arrow-up"></i></button></td>';
                    } else {
                        tableRow += '<td>' + stock["stockPrice"]["stockPrice"] + ' $ <button class="btn btn-danger btn-sm ml-4"><i class="bi bi-arrow-down"></i></button></td>';
                    }

                    tableRow += '<td>' + new Date(stock["stockPrice"]["stockDate"]).toUTCString() + '</td>';

                    //from for passing the stock id to details action
                    tableRow += '<td>';
                    tableRow += '<form action="stock/details" method="get">';
                    tableRow += '<input type = "hidden" name = "stockId" value ="' + stock["stockId"]+'" >';
                    tableRow += '<button class="btn btn-info" type="submit">Details</button>';
                    tableRow += '</form>';
                    tableRow += '</td>';

                    tableRow += '</tr>';
                    tableBody.append(tableRow);
                });
                globalStockList = stockList;
            } else {
                reorderStocks(stockList);
            }
        }

        //function loads the pushed stock with signalr
        async function reorderStocks(newStockOrder) {


            var currentTableRowCount = $('#stockTable tbody tr').length;
            var gCount = 0;
            for (var i = 0; i < newStockOrder.length; ++i, gCount++)
            {

                var newStock = newStockOrder[i];
                var row = '<td>' + newStock["stockName"] + '</td>';

                if (newStock["stockState"] == true) {
                    row += '<td>' + newStock["stockPrice"]["stockPrice"] + ' $ <button class="btn btn-success btn-sm ml-4"><i class="bi bi-arrow-up"></i></button></td>';
                } else {
                    row += '<td>' + newStock["stockPrice"]["stockPrice"] + ' $ <button class="btn btn-danger btn-sm ml-4"><i class="bi bi-arrow-down"></i></button></td>';
                }

                row += '<td>' + new Date(newStock["stockPrice"]["stockDate"]).toUTCString() + '</td>';

                //from for passing the stock id to details action
                row += '<td>';
                row += '<form action="stock/details" method="get">';
                row += '<input type = "hidden" name = "stockId" value ="' + newStock["stockId"] + '" >';
                row += '<button class="btn btn-info" type="submit">Details</button>';
                row += '</form>';
                row += '</td>';


                if (i < currentTableRowCount) {
                    var child = $('#'+i);
                    child.empty();
                    child.append(row);
                    
                } else {
                    console.log('newItemAdded');
                    var newRow = '<tr id"' + i + '">' + row + '</tr>';
                    $('#stockTable tbody').append(newRow);
                }
                await timeout(1000);
            }
            for (var i = gCount; i < currentTableRowCount; ++i) {
                var element = $('#' + i);
                element.empty();
            }
        }
        function timeout(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        $(document).ready(() => {

            $.getJSON(
                '/stock/stocks',
                function (response) {
                    pobulateStockTable(response);
                }
            )
        });


    </script>
}